@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Croissant+One&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Smooch+Sans:wght@100;400;800&display=swap');

body{
    
}

header{
    text-align: center;
    padding-top: 0rem;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 3rem;
}
