@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Croissant+One&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Smooch+Sans:wght@100;400;800&display=swap');

body.index{
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 1fr 1fr 100px;
    grid-template-columns: repeat(5,1fr);
}

body.randImg {

}

.randImg {
    width: 700px;
    height: 700px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

header{
    grid-column: 2/5;
    text-align: center;
    padding-top: 0rem;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 4rem;
    color: rgb(152, 152, 152);
    text-shadow: 0 0 9px #FF0000, 0 0 12px #0000FF;
}

.press{
    grid-column: 3;
    grid-row: 2;
    background-color: rgb(195, 195, 195);
    text-align: center;
    color: rgb(134, 30, 30);
    font-size: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px #FF0000, 0 0 17px #0000FF;
    max-height: 100px;
}

.backButton{
    grid-column: 4;
    grid-row: 3;
    background-color: rgb(195, 195, 195);
    text-align: center;
    color: rgb(134, 30, 30);
    font-size: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px #FF0000, 0 0 17px #0000FF;
}

.backButtonHome{
    grid-column: 3;
    grid-row: 4;
    background-color: rgb(195, 195, 195);
    text-align: center;
    color: rgb(134, 30, 30);
    font-size: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px #FF0000, 0 0 17px #0000FF;
    transform: translateY(-60px);
}


  .dadButton{
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(195, 195, 195);
    text-align: center;
    color: rgb(134, 30, 30);
    font-size: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px #FF0000, 0 0 17px #0000FF;
}

.joke {
    grid-column: 2/4;
    grid-row: 2;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    transform: translateX(125px);
    padding-top: 20px;
    max-width: 600px;
    color: rgb(255, 255, 255);
    z-index: 1;
    text-align: center;
  }
